{% extends 'base.html.twig' %}

{% block title %}Hello AdController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row align-items-center">
            {% for oneAd in ad %}


                <div class="col g-3">
                    <div class="card" style="width: 18rem">
                        <img src="{{ oneAd.image }}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">{{ oneAd.title }}</h5>
                            <p class="card-text">{{ oneAd.description }}</p>
                            <a href="{{ path('ad_show',{ 'id': oneAd.id }) }}" class="btn btn-primary">Go somewhere</a>
                            <a href="{{ path('ad_delete',{ 'id': oneAd.id }) }}" class="btn btn-danger">Delete</a>

                        </div>

                    </div>
                </div>



            {% endfor %}
        </div>
    </div>

{% endblock %}
