{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/reservationChartAdmin.js') }}" ></script>
{% endblock %}

{% block body %}

    <div class="container-fluid bg-primary p-5">
        <input class="m-auto d-block" type="date" value="{{ date }}" id="date">
    </div>


    <div class="container-fluid my-3" id="reservationChart">
        {% for hall in allHalls %}
            <div class="row chartRow">
                <div class="row">
                    <span class="col-12 HallName" >{{ hall.name }}</span>
                </div>
                <div class="FromToChart">
                    <span class="HallName" >07:00</span>
                    <span class="HallName" >20:00</span>
                </div>
                <div class="col-12 ChartBar" id="HallChart_{{ hall.id }}"></div>

            </div>
        {% endfor %}
    </div>







    <div class="modal fade " id="modalGeneral" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content modal-width">
                <div id="modalGeneralMessages" class="modal-body">


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="addUserToggleButton">Add User</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="reservationDeleteButton">Delete</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
